certifi==2025.6.15
charset-normalizer==3.4.2
click==8.2.1
dataclasses-json==0.6.7
idna==3.10
jinja2==3.1.6
json-schema-for-humans==1.4.1
markdown2==2.5.3
markupsafe==3.0.2
marshmallow==3.26.1
mypy-extensions==1.1.0
packaging==25.0
pygments==2.19.2
pytz==2025.2
pyyaml==6.0.2
requests==2.32.4
typing-extensions==4.14.1
typing-inspect==0.9.0
urllib3==2.5.0
