name: Build and Deploy HTML of QUADRIGA schema

on:
  workflow_run:
    workflows: ["Build PlantUML Diagrams"]
    types:
      - completed
    branches:
      - main

jobs:
  deploy-book:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    permissions:
      pages: write
      id-token: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4
      with:
        ref: ${{ github.ref }}

    - name: Setup just
      uses: extractions/setup-just@v2

    # Python
    - name: Set up Python
      uses: actions/setup-python@v5
      with:
        python-version-file: '.python-version'
        cache: pip

    - name: Install Python dependencies
      run: |
        pip install -r requirements.txt

    - name: Build HTML for all schema versions
      run: just html

    - name: Upload HTML
      uses: actions/upload-pages-artifact@v3
      with:
        path: "_build"

    - name: Deploy to GitHub Pages
      id: deployment
      uses: actions/deploy-pages@v4
